@tailwind base;
@tailwind components;
@tailwind utilities;


.border-l-style {
  border-color: #52586633;
  border-left-width: 1px;
}

.border-r-style {
  border-color: #52586633;
  border-right-width: 1px;
}

.border-t-style {
  border-color: #52586633;
  border-top-width: 1px;
}

.border-b-style {
  border-color: #52586633;
  border-bottom-width: 1px;
}
